.todoFormContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30 px;
}

.todoFormContainer input {
  width: 75%;
  height: 30px;
  font-size: 1.3rem;
}

.todoFormContainer input {
  padding: 10px, 15xp;
  border: none;
  border-radius: 5px;
}
